@{
    ViewData["Title"] = "Home Page";
}
@section head{
}
<style type="text/css"> 
    div{
        display:flex;
    }
    .area{
        padding:36px 80px;
        background-color: #35588b;
        color:white;
        text-decoration:none;
        font-size:19px;
    }    
</style>

<div class="text-center">
    <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">
        <a href="@Url.Action("Produtos", "Produtos")" class="area">Produtos</a>
    </div>
    <div class="p-3 mb-2 bg-primary-subtle text-primary-emphasis">
        <a href="@Url.Action("Usuarios", "Produtos")" class="area">Gestão de Usuários</a>
    </div>
</div>
